[Desktop Entry]
Categories=Qt;App;
Exec=/usr/share/bin/calculator
GenericName=Simple Calculator
Icon=/usr/share/pixmaps/calculator.png
Name=calculator
Type=Application
